<!-- 支票账户 -->
{% extends "base.html" %}
{% load static %}
<!-- 写入 client.html 中定义的 title -->
{% block title %}
新建储蓄账户
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">
    <h1>新建储蓄账户</h1>
    <hr/>
    <body>
        <form action="" method="POST">
        <fieldset class="module aligned">
            <div class="form-row field-subbranch_name">
                <div>
                    <label>银行名:</label>
                    <input type="text" name="subbranch_name" class="vTextField">{{ error_sn }}
                </div>
            </div>

            <div class="form-row field-client_id">
                <div>
                    <label>客户身份证号:</label>
                    <input type="text" name="client_id" class="vTextField">{{ error_ci }}
                </div>
            </div>

            <div class="form-row field-account_id">
                <div>
                    <label>账户号:</label>
                    <input type="text" name="account_id" class="vTextField">{{ error_ai }}
                </div>
            </div>

            <div class="form-row field-open_day">
                <div>
                    <label>开户日期:</label>
                    <input type="date" name="open_day" class="vTextField">
                </div>
            </div>

            <div class="form-row field-account_type">
                <div>
                    <label>账户类型:</label>
                    <input type="text" name="account_type" readonly="readonly" value="储蓄账户" class="vTextField">
                </div>
            </div>

            <div class="form-row field-account_balance">
                <div>
                    <label>账户余额:</label>
                    <input type="text" name="account_balance" value="0.0">
                </div>
            </div>

            <div class="form-row field-interest_rate">
                <div>
                    <label>利率:</label>
                    <input type="text" name="interest_rate">
                </div>
            </div>

            <div class="form-row field-currency_type">
                <div>
                    <label>货币类型:</label>
                    <input type="text" name="currency_type" value="RMB">
                </div>
            </div>

            <button>保存</button>
            <a class="btn btn-light" href="/accounts">返回</a>

            <div style="color: red;">{{ error_scat }}</div>

        </fieldset>
        </form>
    </body>
    </hr>
</div>


{% endblock content %}