{% extends "base.html" %}
{% load static %}
<!-- 写入 client.html 中定义的 title -->
{% block title %}
贷款增加客户
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">
    <h1>贷款增加客户</h1>
    <hr/>
    <body>
        <form action="" method="POST">
        <fieldset class="module aligned">
            <div class="form-row field-subbranch_name">
                <div>
                    <label>支行名:</label>
                    <input type="text" name="subbranch_name" value="{{ subbranch.name }}" readonly="readonly" class="vTextField">
                </div>
            </div>

            <div class="form-row field-loan_id">
                <div>
                    <label>贷款号:</label>
                    <input type="text" name="loan_id" value="{{ loan_id }}" readonly="readonly" class="vTextField">
                </div>
            </div>

            <div class="form-row field-client_id">
                <div>
                    <label>客户身份证号:</label>
                    <input type="text" name="client_id" class="vTextField">{{ error }}
                </div>
            </div>

            <button>保存</button>
            <a class="btn btn-light" href="/loans">返回</a>

        </fieldset>
        </form>
    </body>
    </hr>
</div>

{% endblock content %}