{% extends "base.html" %}
{% load static %}
<!-- 写入 client.html 中定义的 title -->
{% block title %}
    新增客户
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<body>
    <form action="" method="POST" class="container">
        <p><label>身份证号 </label><input type="text" name="client_id">{{ error }}</p>
        <p><label>姓名 </label><input type="text" name="client_name"></p>
        <p><label>电话 </label><input type="text" name="client_phone"></p>
        <p><label>家庭地址 </label><input type="text" name="client_address"></p>
        <!-- <p>负责人<input type="staff" name="principal"></p> -->
        <!-- <p>负责人类型<input type="text" name="principal_type"></p> -->
        
        <button>提交</button>
        <!-- <p><input type="submit" value="submit"></p>  -->
    </form>
</body>

{% endblock content %}