{% extends "base.html" %}
{% load static %}
<!-- 写入 client.html 中定义的 title -->
{% block title %}
新增客户
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">
    <h1>新建客户</h1>
    <hr/>
    <body>
        <form action="" method="POST">
        <fieldset class="module aligned">
            <div class="form-row field-id">
                <div>
                    <label>客户身份证号:</label>
                    <input type="text" name="client_id" class="vTextField" maxlength="18">{{ error }}
                </div>
            </div>

            <div class="form-row field-name">
                <div>
                    <label>客户姓名:</label>
                    <input type="text" name="client_name" class="vTextField" maxlength="20">
                </div>
            </div>

            <div class="form-row field-phone">
                <div>
                    <label>客户电话:</label>
                    <input type="text" name="client_phone" class="vTextField" maxlength="22">{{ error_ph }}
                </div>
            </div>

            <div class="form-row field-phone">
                <div>
                    <label>客户家庭地址:</label>
                    <input type="text" name="client_address" class="vTextField" maxlength="100">
                </div>
            </div>

            <div class="form-row field-staff_id">
                <div>
                    <label>负责人:</label>
                    <input type="staff" name="client_staff_id">
                </div>
            </div>

            <div class="form-row field-staff_type">
                <div>
                    <label for="id_staff_type">负责人类型:</label>
                    <select name="client_staff_type" id="staff_type">
                        <option value="" selected>---------请选择</option>
                        <option value="account_principal">账户负责人</option>
                        <option value="loan_principal">贷款负责人</option>
                    </select>
                </div>
            </div>

            <button>保存</button>
            <a class="btn btn-light" href="/clients">返回</a>

        </fieldset>
        </form>
    </body>
    </hr>
</div>

{% endblock content %}