{% extends "base.html" %}
{% load static %}
<!-- 写入 client.html 中定义的 title -->
{% block title %}
联系人管理
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">
    
    <h1><a href="/clients">{{client_id}}</a>的联系人</h1>
    <hr/>

    <div style="float: left; margin-bottom: 10px">
        <a class="btn btn-primary" href="">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            新建联系人</a>
    </div>
    <form method="post">
        <div style="float: right; margin-bottom: 10px; width: 70px;">
            <input type="submit" value="查询" name="query" class="btn btn-primary input-sm"/>
        </div>
        <div style="float: right;width: 10px;">&nbsp;</div>
        <div style="float: right; margin-bottom: 10px; width: 100px;">
            <div class="input-group">
                <input type="text" style="border-radius: 5px;" name="client_name" class="form-control" placeholder="姓名"/>
            </div>
        </div>
        <div style="float: right; margin-bottom: 10px; width: 20px;">
            <div style="position: relative;top: 5px; left: 5px">&</div>
        </div>
        <div style="float: right; margin-bottom: 10px; width: 100px;">
            <div class="input-group">
                <input type="text" style="border-radius: 5px;" name="client_id" class="form-control" placeholder="身份证号"/>
            </div>
        </div>
                

    </form>

    <form action="" method="GET">
    <table class="container table stats-table table-striped table-bordered">
        <caption>客户列表</caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>客户身份证号</th>
                <th>联系人姓名</th>
                <th>联系人电话</th>
                <th>联系人email</th>
                <th>与客户关系</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ contact.client_id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.relation }}</td>
                <td><a  class="btn btn-primary btn-sm"
                    href="clients/edit_client/{{client.id}}">编辑</a>
                    <a onclick="return confirm('确认要删除？')" class="btn btn-danger btn-sm"
                    href="clients/contects/edit_client/{{client.id}}">删除</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>

    <body>
        <form action="" method="POST">
        <fieldset class="module aligned">
            <div class="form-row field-id">
                <div>
                    <label>客户:</label>
                    <input type="text" name="client_id" readonly="readonly" value="{{client_id}}">{{ error }}
                </div>
            </div>

            <div class="form-row field-name">
                <div>
                    <label>联系人姓名:</label>
                    <input type="text" name="contact_name" class="vTextField" maxlength="20">
                </div>
            </div>

            <div class="form-row field-phone">
                <div>
                    <label>联系人电话:</label>
                    <input type="text" name="contact_phone" class="vTextField" maxlength="22">
                </div>
            </div>

            <div class="form-row field-phone">
                <div>
                    <label>联系人email:</label>
                    <input type="text" name="contact_email" class="vTextField">
                </div>
            </div>

            <div class="form-row field-phone">
                <div>
                    <label>与客户关系:</label>
                    <input type="text" name="contact_relation" class="vTextField">
                </div>
            </div>

            <button>保存</button>

        </fieldset>
        </form>
    </body>
    </hr>
</div>

{% endblock content %}