{% extends "base.html" %}
{% load static %}
<!-- 写入 client.html 中定义的 title -->
{% block title %}
    编辑信息
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<body>
<div class="container">
    <h1>账户信息管理</h1>
    <hr/>
    <form action="" method="POST" class="container">
        <fieldset class="module aligned">
            <div class="form-row field-subbranch_name">
                <div>
                    <label>支行名:</label>
                    <input type="text" name="subbranch_name" value="{{ subbranch.name }}" readonly="readonly" class="vTextField">
                </div>
            </div>

            <div class="form-row field-client_id">
                <div>
                    <label>客户身份证号:</label>
                    <input type="text" name="client_id" value="{{ client.id }}" readonly="readonly" class="vTextField">
                </div>
            </div>

            <div class="form-row field-account_id">
                <div>
                    <label>账户号:</label>
                    <input type="text" name="client_phone" value="{{ obj.id }}" readonly="readonly" class="vTextField">
                </div>
            </div>

            <div class="form-row field-open_date">
                <div>
                    <label>开户日期:</label>
                    <input type="datetime" name="open_date" value="{{ obj.open_date }}" readonly="readonly">
                </div>
            </div>

            <div class="form-row field-account_balance">
                <div>
                    <label>余额:</label>
                    <input type="text" name="account_balance" value="{{ obj.balance }}" class="vTextField">
                </div>
            </div>

            {% if obj.type == 'checking_account' %}
            <div class="form-row field-account_overdraft">
                <div>
                    <label>透支额度:</label>
                    <input type="text" name="account_overdraft" value="{{ obj.checkingaccount.overdraft }}" class="vTextField">
                </div>
            </div>
            {% elif obj.type == 'savings_account' %}
            <div class="form-row field-interest_rate">
                <div>
                    <label>利率:</label>
                    <input type="text" name="interest_rate" value="{{ obj.savingsaccount.interest_rate }}" class="vTextField">
                </div>
            </div>
            <div class="form-row field-currency_type">
                <div>
                    <label>货币类型:</label>
                    <input type="text" name="currency_type" value="{{obj.savingsaccount.currency_type }}" class="vTextField">
                </div>
            </div>
            {% endif %}

            <div class="form-row field-least_recently_access">
                <div>
                    <label>修改时间:</label>
                    <input type="datetime-local" name="least_recently_access" value="{{ timezone.now }}" class="vTextField">
                </div>
            </div>

            <button>保存</button>
            <a class="btn btn-light" href="/accounts">返回</a>
    </form>
    </hr>
</div>

</body>

{% endblock content %}